div[data-role="content-secondary"],
div[data-role="main-content-wrapper"] {
  height: calc( 100vh - 56px - 24px);

}

.nav.flex-column > .nav-item > .nav-link > .fa {
	margin-left: -1.25rem; margin-right: 0.25rem; width: 1rem;

}

@media (min-width: 768px) {
  .d-md-list-item {
    display:list-item!important

  }

}

.btn-bilinga {
  color: #fff;
  background-color: #3F3F95;
  border-color: #3F3F95
}

.bg-bilinga {
  background-color: #3F3F95;
}
